/*
BASE COLORS
===============================================*/
$white-color: #fff;
$black-color: #000;

/*
THEME COLORS
===============================================*/
$normal-text-color: $black-color;
$over-image-text-color: $white-color;
